node_modules

data/**
!data/testingData.json
!data/betTestingData.json
!data/oddsTestingData.json
!data/amountTestingData.json
!data/rollTestingData.json
!data/betNamesTestingData.json
!data/promptTypesTestingData.json
!data/rollTestingData-HOLD.json
